VirtualMindApi/VirtualMindApi/obj/
VirtualMindApi/VirtualMindApi/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
VirtualMindApi/VirtualMindApi/bin/
VirtualMindApi/VirtualMindApi.Tests/bin/
VirtualMindApi/VirtualMindApi.Tests/obj/
VirtualMindApi/.vs/
